###### Requirements without Version Specifiers ######`
Flask_restful               # req for app.py
gunicorn                    # req for config.py
cx_Oracle                   # req for app.py, consumer.py
simplejson                  # req for app.py, consumer.py
oci                         # req for vaultsecret.py 
cryptography>=41.0.0 # not directly required, pinned by Snyk to avoid a vulnerability